/* Stylesheet for Digi store AS */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// variabler
$netbutikkImgSize: 200px;


$backgroundColor: white;
$text: black;
$contrast: #eceff1;
$contrast2: #c0ddf3;
$accent: #c0ddf3;

$fargeAArr: white black #eceff1 #c0ddf3 #aa97cf;
// #4bb2bf


body {
  font-family: "Roboto", verdana, arial, helvetica, sans-serif;
  font-size: 18px;
}

////////////////////////////////
/* Nettbutikk style */
////////////////////////////////

main, .standard-width {
  max-width: 1000px;
  margin: auto;
}

main {
  min-height: 70vh;
}

// gjør homepagen litt bredere
.homepageEdt {
  max-width: 1200px;

  img {
    width: 100%;
    border-radius: 10px;
  }

  h3 {
    background-color: $contrast;
    padding: 5px;
    border-radius: 10px;
  }
}

.img-container img {
  width: 100%;
  height: #{$netbutikkImgSize};
  object-fit: contain;
  border-radius: 10px;
  transition: transform .2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.product-gallery {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;

  a div {
    max-width: #{$netbutikkImgSize};
  }

  a {
    border: none;

    &:hover {
      border: none;
      text-decoration: underline 2px black;

    }
  }
}

.mini-txt {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > * {
    flex: 100%;
    text-align: center;
    margin: 3px 0;
  }

  :nth-child(2) {
    font-size: 0.8em;
  }

}

a {
  text-decoration: none;
  color: black;

  &:hover {
    border: 1px solid black;
  }
}


////////////////////////////////////////////////
/*Login form style */
////////////////////////////////////////////////

#login-form, .form {
  width: 500px;
  background-color: lightgray;
  margin: auto;
  border-radius: 10px;
  margin-top: 50px;

}

#login-form form, .form form {
  width: 85%;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


#login-form form label {
  display: block;
}

#login-form form input:not(#sub-btn) {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: none;
}

#sub-btn {
  height: 30px;
  border-radius: 10px;
  border: none;
}

#login-form form div, #sub-btn {
  width: 75%;
}

#login-form form div {
  margin-bottom: 10px;
}

////////////////////////////////////////////////////////////////
/* produkt sider */
////////////////////////////////////////////////////////////////

.img-slide-container {
  flex: 2;
}

.slide-img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  margin-top: 30px;
  display: inline;
  border-radius: 10px;
}

.slide {
  display: none;
  border-radius: 10px;
  align-content: center;

}


.tilbake, .frem {
  cursor: pointer;
  /* position absolute*/
  top: 200px;
  width: auto;
  padding: 4px;
  color: #{$text};
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 5px;

}

.frem {
  left: 0
}

.slide-overgang {
  animation-name: overgang;
  animation-duration: 1.4s;
}

@keyframes overgang {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.kjop-container {
  background-color: $contrast;
  height: 350px;
  border-radius: 10px;
  flex: 1;

  h2 {
    margin: 10px auto;
    width: 95%;
  }

  form {
    width: 95%;
    margin: auto;
    height: 200px;

    button[type="submit"] {
      width: 100%;
      background-color: $backgroundColor;
      border-radius: 10px;
      border: 1px solid $text;
      height: 30px;
      font-size: 1.1em;

      &:hover {
        background-color: $accent;
        cursor: pointer;
      }
    }


    p:not(.tiny) {
      margin: auto auto auto 5px;
      font-size: 1.1em;
    }

    div p & input {
      font-size: 1em;
    }

    .tiny {
      font-size: 0.9em;
    }
  }
}


.produkt {
  display: flex;
}

.tabcontainer {
  > :nth-child(1) {
    width: 100%;
    background-color: $contrast;
    display: flex;
    padding: 5px 10px;
    border-radius: 10px;

    h3 {
      margin: 0 5px;
    }
  }
}

.tab {

  &:hover {
    cursor: pointer;
  }
}

.underline {
  text-decoration: 2px underline black;
}

////////////////////////////////////////////////////////////////
/*Style for header*/
////////////////////////////////////////////////////////////////

header div div, nav {
  display: flex;
  align-items: center;
}

header div div a img {
  height: 30px;
  width: auto;
}

header div div a {
  text-decoration: none;
  border: 0 solid transparent;
  margin: 5px 10px;

  &:hover {
    border: none;
  }
}


header div img {
  height: 30px;
  width: auto;
}

.logo-bar {
  display: grid;
  grid-template-columns: 100px auto 100px;
}

nav {
  justify-content: center;
}

nav a {
  font-size: 1.5em;
  margin: 10px 40px;
  transition: transform .2s ease-in-out;

  &:hover {
    border: none;
    transform: scale(1.1);
  }
}

#logo {
  width: 50px;
  height: auto;
}

////////////////////////////////////////////////////////////////
/* footer */
////////////////////////////////////////////////////////////////

footer {
  border-top: 1px solid $text;
  width: 99%;
  justify-content: center;
  margin: auto;
  display: flex;

  div {

    p {
      text-align: center;
      margin: 5px 0 0;
      padding: 0;
    }

    div {
      display: flex;

      div {
        margin: auto 20px;

        ul {

          list-style: none;

          :nth-child(1) {
            margin: 0;
            display: block;

            p {
              text-align: left;
            }
          }

          :not(:nth-child(1)) a {
            color: darkgrey;
            border: none;
            margin: 2px 0;
            padding: 0;
            display: block;

            &:hover {
              border: none;
            }
          }
        }
      }
    }
  }

}

////////////////////////////////////////////////////////////////
/* Handlekurv style */
////////////////////////////////////////////////////////////////

.handlekurv-item {
  display: grid;
  grid-template-columns: 200px auto 90px 70px 70px 40px;
  border-bottom: 1px solid black;
  align-items: center;

  div h3, div p:not(.minus, .pluss) {
    margin: 8px 0;
  }

  :nth-child(3) {
    width: 80px;
  }
}

.handlekurv-item img {
  max-width: 200px;
  max-height: 80px;
}

.center {
  text-align: center;
}

.handlekurv-item button {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  box-shadow: none;
  align-items: center;
}

#checkoutBtn {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;


  button, .generic-button {
    padding: 5px 15px;
    font-size: 1em;
    background-color: $backgroundColor;
    border: 1px solid $text;
    border-radius: 10px;

    &:hover {
      background-color: $accent;
    }
  }
}

////////////////////////////////////////////////////////////////
/* checkout + checkout redirect */
////////////////////////////////////////////////////////////////

.checkoutRedirectChoice {
  background-color: $contrast;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  margin: 5vh auto auto;

  h3 {
    font-size: 1.1em;
  }

  a {
    border: none;

    &:hover {
      border: none;
      text-decoration: none;
    }
  }

  a button {
    width: 100%;
    padding: 5px 15px;
    background-color: $backgroundColor;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    font-size: 1em;

    &:hover {
      cursor: pointer;
      background-color: $accent;
    }
  }
}

.payment {
  form {
    .payment-proccessing {
      width: 100%;
      display: flex;
      align-items: center;
      height: 250px;
      border: 1px solid black;
      margin-top: 20px;

      input {
        scale: 3;
        margin-left: 20px;
      }

      label {
        font-size: 2em;
        vertical-align: middle;
      }
    }

  }
}

// for post info IKKE POST variabel
.grid3x1 {
  display: grid;
  grid-template-columns: repeat(3, auto);

  input {
    border-radius: 5px;
    border: solid 1px $text
  }
}

////////////////////////////////////////////////////////////////
/* dashboard */
////////////////////////////////////////////////////////////////

.ordre-container {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
}

.main-order-container {
  width: 100%;
}

.ordre-info {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;

  p {
    flex: 1;
  }

  div {
    display: flex;
    flex: 100%;
    margin: 0;

    h3 {
      flex: 1;
      margin: 0;
      margin-top: 10px;
    }
  }
}

.ordre-produkt {
  display: grid;
  grid-template-columns: 200px 200px 50px;
}

.hidden {
  display: none;
}

.sidevalg {
  display: flex;
  width: 100px;

  p {
    font-size: 1.1em;
    border: 1px solid $text;
    padding: 5px 10px;
    border-radius: 10px
  }
}

table {

  width: 100%;

  th {
    text-align: left;
    border-bottom: 1px solid $text;
  }

  td {
    border-right: 1px solid $text;
    padding: 3px 5px;
  }
}

.nytt-produkt {
  margin-top: 15px;
  display: grid;
  grid-template-rows: repeat(6, 60px);

  input:not([type="file"]), button {
    width: 300px;
    border-radius: 10px;
    height: 40px;
    box-shadow: none;
    border: 1px solid $text;
  }

  button {
    margin: 5px 0;
  }
}

.userInfo-Container {


  div.userCheck {
    display: grid;
    grid-template-columns: 130px 130px;

    input {
      scale: 2;
    }
  }
}


////////////////////////////////////////////////////////////////
/* DDesign manual */
////////////////////////////////////////////////////////////////

.designLogoContainer {
  div {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  :not(:nth-child(1)) img {
    background-color: darkgray;
    padding: 7px;
  }
}

.fargeGalleri {

  // fargen
  div {
    display: flex;
    height: 120px;
    background-color: $contrast;
    border-radius: 10px;
    margin-top: 10px;


    div.fargeinfo {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto 0;

      div.separatorBetweenExplainAndCodes {
        display: flex;
        flex-wrap: wrap;
        margin: auto 0;

        div.codes {
          display: flex;
          flex-wrap: wrap;
          margin: auto 0;

          div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            margin: auto 0;

            p {
              flex: 100%;
              margin: 0;
            }
          }

        }
      }
    }
  }

}

@for $i from 1 through 5 {
  #color#{$i} {
    background-color: nth($fargeAArr, $i);
    border: 1px solid $text;
    border-radius: 10px;
    height: (88%);
    width: 20%;
    margin: 7px 10px;
  }
}


////////////////////////////////////////////////////////////////
/*Random shit */
////////////////////////////////////////////////////////////////

.AntallVelger {
  border: 1px solid $text;
  border-radius: 10px;
  max-width: 100px;
  display: flex;
  max-height: 30px;
  background-color: #{$backgroundColor};

  input, p {
    flex: 1;
    height: 30px;
    text-align: center;
    margin: auto;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  input {
    border: none;
    overflow: hidden;
    height: fit-content;
  }
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.stopp-selection {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.error {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  img {
    width: auto;
  }

  p {
    text-align: center;
    width: 500px;
  }
}

.generic-button {
  padding: 5px 15px;
  font-size: 1em;
  background-color: $backgroundColor;
  border: 1px solid $text;
  border-radius: 10px;

  &:hover {
    background-color: $accent;
  }
}

article {
  max-width: 700px;
  margin: auto;
}


// tilpasninger for mobil
@media only screen and (max-width: 728px) {
  main {
    width: 100%;
  }

  header div div a img {
    height: 20px;
  }

  header div img {
    height: 20px;
    width: auto;
  }

  .logo-bar {
    grid-template-columns: auto auto auto;
  }

  nav {
    justify-content: space-between;
  }

  nav a {
    font-size: 1em;
    margin: 0;

  }

  header {
    margin-bottom: 15px;
  }

  #logo {
    width: 20px;
    height: auto;
  }

  .product-gallery {
    justify-content: center;
  }

  .produkt {
    flex-wrap: wrap;
    flex-direction: row;

    div {
      flex: 100%;
    }
  }

  .kjop-container {
    height: fit-content;
    margin-bottom: 10px;

    form {
      height: fit-content;
    }
  }

  .toHide {
    display: none;
  }

  .handlekurv-item {
    grid-template-columns: repeat(4, auto);

    :nth-child(2) {
      font-size: 15px;
    }

    img, :nth-child(4) {
      display: none;
    }

    div div.AntallVelger {
      border: 1px solid $text;
      border-radius: 10px;
      max-width: 50px;
      display: flex;
      max-height: 30px;
      background-color: #{$backgroundColor};

      input, p {
        flex: 1;
        height: 25px;
        text-align: center;
        margin: auto;
        font-size: 15px;
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          cursor: pointer;
        }
      }
    }

  }
}